---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: cilium
  namespace: kube-system
spec:
  values:
    identityAllocationMode: crd
    rollOutCiliumPods: true
    bgpControlPlane:
      enabled: false
