apiVersion: v1
kind: ConfigMap
metadata:
  name: cilium-values
  namespace: kube-system
data:
  values.yaml: |
    cluster:
      name: site-b
      id: 2
    routingMode: native
    ipv4NativeRoutingCIDR: 10.45.0.0/16
    kubeProxyReplacement: strict
    enableIPv4Masquerade: false
    autoDirectNodeRoutes: true
    k8sServiceHost: 10.20.0.10
    k8sServicePort: 6443
    encryption:
      enabled: true
      type: wireguard
    hubble:
      enabled: true
      relay:
        enabled: true
      ui:
        enabled: true
    clustermesh:
      enabled: true
      useAPIServer: true
      apiserver:
        service:
          type: LoadBalancer
          annotations:
            metallb.universe.tf/address-pool: public-services
          loadBalancerIP: 198.51.100.40
          externalTrafficPolicy: Local
    l2announcements:
      enabled: true
    bgpControlPlane:
      enabled: false
    tunnel: disabled
    nodePort:
      enableHealthCheck: true
    endpointRoutes:
      enabled: true
    securityContext:
      privileged: true
    ipv4:
      enabled: true
    ipv6:
      enabled: false
    externalIPs:
      enabled: true
    ipam:
      mode: kubernetes
    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
    operator:
      replicas: 1
