- name: Render autoinstall NoCloud for a host
  hosts: localhost
  gather_facts: false
  vars:
    host: "{{ lookup('env','HOST') | default(host, true) }}"
    autoinstall_dir: "{{ playbook_dir }}/../../autoinstall"
  vars_files:
    - "{{ playbook_dir }}/../../inventory/host_vars/{{ host }}.yml"
  tasks:
    - name: Ensure output dir exists
      file:
        path: "{{ autoinstall_dir }}/generated/{{ host }}"
        state: directory
        mode: "0755"

    - name: Render user-data (autoinstall)
      template:
        src: "{{ autoinstall_dir }}/templates/user-data.j2"
        dest: "{{ autoinstall_dir }}/generated/{{ host }}/user-data"
        mode: "0644"

    - name: Render meta-data
      template:
        src: "{{ autoinstall_dir }}/templates/meta-data.j2"
        dest: "{{ autoinstall_dir }}/generated/{{ host }}/meta-data"
        mode: "0644"
