---
- name: Reload sysctl
  ansible.builtin.command:
    cmd: sysctl --system
  register: sysctl_reload
  changed_when: "'reloading' in (sysctl_reload.stdout | default('') | lower)"

- name: Restart wireguard
  ansible.builtin.systemd:
    name: "wg-quick@{{ overlay_network_wireguard_interface }}"
    state: restarted
    daemon_reload: true

- name: Restart systemd-networkd
  ansible.builtin.systemd:
    name: systemd-networkd
    state: restarted
    daemon_reload: true

- name: Reload frr
  ansible.builtin.systemd:
    name: frr
    state: reloaded
    daemon_reload: true

- name: Restart keepalived
  ansible.builtin.systemd:
    name: keepalived
    state: restarted
    daemon_reload: true
