---
- name: Render autoinstall NoCloud for a host (baremetal)
  hosts: localhost
  gather_facts: false
  vars:
    autoinstall_dir: "{{ playbook_dir }}/../../autoinstall"
    templates_root: "{{ autoinstall_dir }}/templates"
    inventory_root: "{{ playbook_dir }}/../../inventory"
    target: "{{ lookup('env','HOST') | default(host, true) }}"
  tasks:
    - name: Include shared autoinstall rendering tasks
      ansible.builtin.import_tasks: "{{ playbook_dir }}/../../../ansible/playbooks/common/generate_autoinstall.yml"
