vrrp_instance OVERLAY {
    state {{ overlay_network_keepalived_state }}
    interface {{ overlay_network_keepalived_interface }}
    virtual_router_id {{ overlay_network_keepalived_vrid }}
    priority {{ overlay_network_keepalived_priority }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ overlay_network_keepalived_auth_passphrase }}
    }
{% if overlay_network_keepalived_unicast_src_ip %}    unicast_src_ip {{ overlay_network_keepalived_unicast_src_ip }}
{% endif %}{% if overlay_network_keepalived_unicast_peers %}    unicast_peer {
{% for peer in overlay_network_keepalived_unicast_peers %}        {{ peer }}
{% endfor %}    }
{% endif %}    virtual_ipaddress {
{% for vip in overlay_network_keepalived_virtual_ips %}        {{ vip }}
{% endfor %}    }
{% if overlay_network_keepalived_notify_script %}    notify {{ overlay_network_keepalived_notify_script }}
{% endif %}}
