[Interface]
Address = {{ overlay_network_wireguard_address }}
ListenPort = {{ overlay_network_wireguard_listen_port }}
PrivateKey = {{ overlay_network_wireguard_private_key }}
{% if overlay_network_wireguard_fwmark is defined and overlay_network_wireguard_fwmark %}
FwMark = {{ overlay_network_wireguard_fwmark }}
{% endif %}
{% if overlay_network_wireguard_table is defined and overlay_network_wireguard_table %}
Table = {{ overlay_network_wireguard_table }}
{% endif %}
{% for command in overlay_network_wireguard_post_up %}
PostUp = {{ command }}
{% endfor %}
{% for command in overlay_network_wireguard_post_down %}
PostDown = {{ command }}
{% endfor %}

{% for peer in overlay_network_wireguard_peers %}
[Peer]
PublicKey = {{ peer.public_key }}
{% set preshared_key_lookup = peer.preshared_key_name | default(peer.name, true) %}
{% if preshared_key_lookup and preshared_key_lookup in overlay_network_wireguard_preshared_keys %}
PresharedKey = {{ overlay_network_wireguard_preshared_keys[preshared_key_lookup] }}
{% endif %}
{% set allowed_list = peer.allowed_ips if peer.allowed_ips is sequence and peer.allowed_ips is not string else [peer.allowed_ips] %}
{% for network in allowed_list %}
AllowedIPs = {{ network }}
{% endfor %}
{% if peer.endpoint is defined and peer.endpoint %}
Endpoint = {{ peer.endpoint }}
{% endif %}
{% if peer.persistent_keepalive is defined and peer.persistent_keepalive %}
PersistentKeepalive = {{ peer.persistent_keepalive }}
{% endif %}
{% if peer.description is defined and peer.description %}
# {{ peer.description }}
{% endif %}

{% endfor %}
